body {
  font-family: "Luckiest Guy", cursive;
  background-color: #73c1f5;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #c7e5ff;
  width: 80%;
  height: 90%;

}

.sub-container{
  width: 100%;
  display: flex;
  justify-content: center;
}


.big-title{
  color: #285e32;
  font-weight: bold;
  font-size: xx-large;
  margin-top: 10px;
  margin-bottom: 0px;
}
.sub-title{
  color: #285e32;
  font-size: xx-large;
  margin-top: 10px;
  margin-bottom: 0px;
}


.green-text{
  color: #46d460;
}

#result-area h1{
  margin-bottom: 0;
}


.reset{
  display: flex;
  justify-content: center;
}

.input-box{
  padding-top: 10px;
  justify-content: center;
}


#play-button{
  background-color: #46d460;
  border-radius: 10px;
  outline: #285e32 1px solid;
  width: 50px;
  height: 30px;
  color: white;
  font: 2em;
}

#reset-button{
  background-color: #e2fa07;
  border-radius: 10px;
  outline: #285e32 1px solid;
  width: 50px;
  height: 20px;
  color: black;
  font: 2em;
}

#play-button:hover{
  filter: brightness(110%);
}

#reset-button:hover{
  background-color: #46d460;
  color: white;
}

.mainImg{
  width: 60%; 
  height: 40%;
}

@media screen and (max-width:600px) {
  .container{
    height: 80%;
  }
  .big-title{
    width: 80%;
    font-size: x-large;
  }
  .isle{
    width: 50px;
    height: 50px;
  }
  .sub-title{
    width: 60%;
    font-size: large;
    margin-bottom: 10px;
  }

  #result-area,#chance-area{
    font-size: small;
  }

  #play-button{
    margin-left: 10px;
    height: 50%;
  }

  .input-number{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .form-control{
    width: 60%;
    height: 50%;
  }

  #reset-button{
    margin-top: 5px;
  }

}

@media screen and (max-width:400px) {
  .container{
    height: 60%;
  }
  .big-title{
    width: 80%;
    font-size: x-large;
  }
  .isle{
    width: 50px;
    height: 50px;
  }
  .sub-title{
    width: 60%;
    font-size: large;
    margin-bottom: 10px;
  }

  #result-area,#chance-area{
    font-size: small;
  }

  #play-button{
    margin-left: 10px;
    height: 50%;
  }

  .input-number{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .form-control{
    width: 60%;
    height: 50%;
  }

  #reset-button{
    margin-top: 5px;
  }

}
